{
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"tailwindConfig": "./tailwind.config.js",
	"plugins": ["prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false
}
